<h1>Here are your booking details!</h1>

<h2>Start time:</h2>
<h4><%= @booking.start_time %></h4>

<h2>End time:</h2>
<h4><%= @booking.end_time %></h4>

<%= link_to "Delete",
  booking_path(@booking),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
