<div class="container">
  <h1>Hi <%= current_user.first_name %></h1>
  <h2>Welcome</h2>
  <br>
  <h3>Current books</h3>
  <br>
  <h3>Your have lended this books...</h3>

</div>

<p>Find me in app/views/pages/home.html.erb</p>
