<div class="container">
  <h1>Welcome <%= current_user.first_name %></h1>
  <br>
  <h2>Current books</h2>
  <br>
  <img src="..." class="img-thumbnail" alt="...">
  <h2>Your have lended this books...</h2>

  <img src="..." class="img-thumbnail" alt="...">
  <img src="..." class="img-thumbnail" alt="...">
  <img src="..." class="img-thumbnail" alt="...">
  <img src="..." class="img-thumbnail" alt="...">
</div>

<p>Find me in app/views/pages/home.html.erb</p>
