<div class="container">
<div class="row">
    <div class="col">

<h1>All the books:</h1>

<% @books.each do |book| %>
  <%= link_to book.title, book_path(book)  %>
<% end %>


</div>

   </div>
  </div>
</div>